@import url("/public/css/theme.css");
@import url("/public/css/fonts.css");
@import url("/components/btn.css");
@import url("/components/modal.css");
@import url("/public/css/tailwind.css");

#truthButton, #dareButton {
    border-width: 0px;
    color: inherit;
}

#truthButton {
    background-color: #3aff6987;
    box-shadow: #28a745  -20px 0 20px 3px;
}

#dareButton {
    background-color: #ff0018b3;
    box-shadow: #dc3545  20px 0 20px 3px;
}

.grid-container {
    display: grid;
    grid-template-rows: 33px auto 60px; /* Первая строка - 33px, вторая - авто, третья - 60px */
    height: 100vh; /* Высота контейнера */
}

.grid-container2 {
    display: grid;
    grid-template-rows: 33px auto 60px; /* Первая строка - 33px, вторая - авто, третья - 60px */
}