body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.nav-scroller {
    overflow-y: hidden;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .nav-scroller__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  .nav-scroller__item {
    color: #424242;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
  }

  .nav-scroller__item:not(:last-child) {
    border-right: 1px solid #eee;
  }

  .nav-scroller__item_active {
    background-color: #fff59d;
  }

  /* для всех пунктов кроме активного */
.nav-scroller__item:not(.nav-scroller__item_active):hover {
    background-color: #f5f5f5;
  }
  /* для активного пункта */
  .nav-scroller__item_active:hover {
    background-color: #fff176;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%; /* Изменено с 80% на 90% для улучшенной адаптивности */
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    font-weight: bold;
    width: 100%;
}

input[type="text"], textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 320px;
}

textarea {
    width: 100%;
    resize: none;
    height: 100px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Сделано шириной 100% для удобства на мобильных устройствах */
}

button:hover {
    opacity: 0.9;
}

#add-ingredient{
    background-color: #007bff;
}

.ingredient-entry {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.ingredient-name, .ingredient-quantity, .ingredient-unit {
    flex: 1;
}

.ingredient-entry {
    display: flex;
    align-items: center;
}

.recipe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.recipe-actions {
    display: flex;
    gap: 10px;
}

button.edit-recipe {
    background-color: #ffc107;
}

button.delete-recipe {
    background-color: #dc3545;
}

/* Адаптивные стили */
@media (max-width: 768px) {

    .container {
        width: 100%; /* Изменено с 80% на 90% для улучшенной адаптивности */
        max-width: 600px;
        background: #fff;
        margin: 0px auto;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .ingredient-entry {
        flex-direction: column; /* Меняет направление на вертикальное для мобильных устройств */
    }


    .recipe-item {
        flex-direction: column; /* Меняет направление на вертикальное для мобильных устройств */
    }

    .recipe-actions {
        justify-content: center; /* Центрирует кнопки действий в рецепте */
    }
}

