@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100dvh;
    height: 100dvh;
}



.btn:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 150ms;
}

.btn:active {
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: 150ms;
}