body{
    margin: 0px;
}



.maket{
    margin: 0px;
}



.theme-light{
    background-color: white;
    color: #525252;
    border-color: #eaeaea;
}

.theme-dark{
    background-color: #303030;
    color: white;
    border-color: #eaeaea;
}

