.side{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.side .container{
    height: 90%;
}
.side .nav ul{
    margin: 0px;
    line-height: 3rem;
    text-align: center;
    border-color:  inherit inherit;
}

.side .nav ul li{
    background-color: inherit;
    border-color:  inherit inherit;
    border-bottom-width: 1px;
    border-style: none none solid none;
    font-weight: bold;
    color: inherit;
}
.side .nav ul li a{
    color: inherit;
}

.side .footer{
    height: 10%;
    width: 100%;
    border-top-width: 1px ;
    border-style: solid none none  none;
    bottom: 0px;
}


.side .footer a{
    background-color: inherit;
    color: inherit;
}

.side .footer a i{
    color: inherit;
}