.collection {
    border: none;
}

.collection-item, .collection-header {
    border-bottom: none !important;
}

.collection-item  i.circle{
    background-color:  #424242 !important;
    color: #ffffff !important;
    font-style: normal;
}


.title{
    font-weight:500;
}