body {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.mega-text {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 10rem;
  color: #eeeeee;
  bottom: 0px;
}

.transition {
  transition: 1s;
}

.h-red:hover {
  background-color: #ef9a9a;
}

.h-blue:hover {
  background-color: #90caf9;
}

#nav {
  height: 10vh;
  width: 100%;
  top: 1rem;
}

#content{
  height: 40vh;
}

#user_form .wrap {
  max-width: 300px;
  margin: 0 auto;
  background-color: inherit;
  border-radius: 1rem;
  padding: 0 1rem;
}

#UserName {
  color: inherit;
}

#NameUserEnter {
  max-width: 250px;
}

#OutText {
  height: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left:1rem;
  padding-right:1rem;
}

#actions{
  height: 50vh;
  cursor: pointer;
}

#actions .col{
  height: 100%;
}

@media screen and (max-width: 600px) {
  .mega-text {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: #eeeeee;
    bottom: 0px;
  }
  
#actions .col{
  height: 50%;
}
}

.gradient {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 2px 20px -5px grey;
  cursor: pointer;
  font-weight: 600;
}

.gradient:hover {
  background-position: right center;
  color: #ffffff;
}

.gradient.yellow {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.gradient.blue {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

.gradient.green {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}
