body{
    overflow: hidden;
}

#textArea {
    box-sizing: border-box;
    height: calc(100vh - 66px);
    resize: none;
    overflow-y: auto;
    background-color: inherit;
    color: inherit;
}

textarea:focus {
    outline: none;
    /* Убираем рамку при фокусе */
}