<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="/public/css/fonts.css">

    <link rel="stylesheet" href="btn.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="textarea.css">
    <link rel="stylesheet" href="nav.css">
</head>

<body>
    <div class="contains">
        <nav id="nav">
            <a href="index.html">Home</a>
            <a href="#nav">Nav</a>
            <a href="#btn">Button</a>
            <a href="#modal">Modal</a>
            <a href="#textarea">Textarea</a>
            <a href="index.html">Home</a>
            <a href="#nav">Nav</a>
            <a href="#btn">Button</a>
            <a href="#modal">Modal</a>
            <a href="#textarea">Textarea</a>
        </nav>

        <h1>Components</h1>

        <br>
        <h2 id="btn">Button</h2>
        <button class="btn">Default</button>
        <button class="btn large">Large</button>
        <button class="btn small">Small</button>
        <button class="btn flat">Flat</button>
        <button class="btn float">Float</button>
        <button class="btn primary">Primary</button>
        <button class="btn danger">Danger</button>
        <button class="btn success">Success</button>
        <button class="btn warning">Warning</button>
        <button class="btn info">Info</button>

        <br>
        <h2 id="modal">Modal</h2>
        <label class="modal-togle">
            <span>Icon or Text</span>
            <input type="checkbox">
            <div class="modal overlay">
                <div class="btn">Close</div>
                <h2>Modal</h2>
            </div>
        </label>
        <br>
        <h2 id="textarea">Textarea</h2>
        <div>
            <textarea class="textarea"></textarea>
        </div>
    </div>
</body>

</html>