@import "tailwindcss";

.slider::-webkit-slider-thumb {
    height: 1rem; /* h-4 */
    width: 1rem;  /* w-4 */
    background-color: #3b82f6; /* bg-blue-500 */
    border-radius: 9999px; /* rounded-full */
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6);
    cursor: pointer;
    transition-property: transform, background-color;
    transition-duration: 150ms;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #60a5fa; /* bg-blue-400 */
    transform: scale(1.1);
}

.slider::-moz-range-thumb {
    height: 1rem; /* h-4 */
    width: 1rem;  /* w-4 */
    background-color: #3b82f6; /* bg-blue-500 */
    border-radius: 9999px; /* rounded-full */
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6);
    border: 0;
    cursor: pointer;
    transition-property: transform, background-color;
    transition-duration: 150ms;
}

.slider::-moz-range-thumb:hover {
    background-color: #60a5fa; /* bg-blue-400 */
    transform: scale(1.1);
}
